.header {
	background: $color-header-footer-background;
	padding: 20px 0;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__main-name {
	@extend %family_second;
	@include font($size: 3rem, $height: 5rem, $spacing: 0.6px);

	color: $color-header-footer-text;

	&:hover {
		@extend %transition;
		color: $color-selected;
	}
}

.header__nav {
	margin-left: auto;

	a {
		color: $color-header-footer-text;
	}

	a:hover {
		@extend %transition;
		color: $color-selected;
	}
}

.header__icon-profile {
	display: flex;
	padding-left: 40px;
}