body {
  font-family: "Inter", sans-serif;
}

.header__main-name, h3, h2, h1 {
  font-family: "Forum", cursive;
}

.header__nav a:hover, .header__main-name:hover {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1px;
}

body {
  width: 1440px;
  font-size: 1.6rem;
  line-height: 4rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: 3px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

h3 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

h4 {
  font-size: 1.5rem;
  line-height: 4rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.nav__item {
  font-size: 2rem;
  line-height: 5rem;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  list-style: none;
}

.icon {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.icon_profile {
  background-image: url("../img/header/icon_profile.svg");
}

.carousel {
  margin-top: 20px;
}

.carousel__content-item {
  width: 450px;
  height: 560px;
}

.carousel__pagination {
  margin-top: 20px;
  text-align: center;
}

.carousel__pagination-item {
  display: inline-block;
  width: 68px;
  height: 16px;
  vertical-align: middle;
  background-image: url("../img/about-carousel/carousel_pagination.svg");
}

.section-title {
  text-align: center;
}

.section-line {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 50px;
  size: 1px;
  color: #0C0C0E;
}

.section-description {
  text-align: center;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
}

.header {
  background: #0C0C0E;
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main-name {
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.6px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.header__main-name:hover {
  color: #BB945F;
}

.header__nav {
  margin-left: auto;
}
.header__nav a {
  color: #FFFFFF;
}
.header__nav a:hover {
  color: #BB945F;
}

.header__icon-profile {
  display: flex;
  margin-left: 40px;
}

.welcome {
  width: 1440px;
  height: 600px;
  background: url("../img/welcome/welcome.jpg"), lightgray 50%/cover no-repeat;
}

.welcome__wrapper {
  display: flex;
  justify-content: left;
}

.welcome__content {
  margin-top: 220px;
  padding: 35px 40px;
  background-color: #0C0C0E;
  color: #FFFFFF;
}
.welcome__content h1 {
  width: 520px;
}

.about__wrapper {
  padding: 20px 0 40px 0;
}

/*# sourceMappingURL=style.css.map */
