$color-main-background: #FFFFFF;
$color-header-footer-background: #0C0C0E;
$color-header-footer-text: #FFFFFF;
$color-main-text: #000000;
$color-selected: #BB945F;
$color-placeholders: #8E8E8E;

$content-width: 1440px;
$wrapper-width: 1400px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;