html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: 'Inter', sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Forum', cursive;
	font-size: 4rem;
	font-weight: 400;
	line-height: 50px; /* 125% */
	letter-spacing: 3px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Forum', cursive;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 100% */
	letter-spacing: 2px;
	text-transform: capitalize;
}

h3 {
	font-family: 'Forum', cursive;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 100% */
	letter-spacing: 2px;
	text-transform: capitalize;
}

h4 {
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 266.667% */
	letter-spacing: 2px;
	text-transform: uppercase;
}