html {
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 1px;
}

body {
	width: $content-width;

	@extend %family_main;
	@include font($size: 1.6rem, $height: 4rem);

	margin: auto;
}

h1 {
	@extend %family_second;
	@include font($size: 4rem, $height: 5rem, $spacing: 3px);

	text-align: center;
	text-transform: uppercase;
}

h2 {
	@extend %family_second;
	@include font($size: 4rem, $height: 4rem, $spacing: 2px);

	text-transform: capitalize;
}

h3 {
	@extend %family_second;
	@include font($size: 4rem, $height: 4rem, $spacing: 2px);

	text-transform: capitalize;
}

h4 {
	@include font($size: 1.5rem, $height: 4rem, $spacing: 2px, $weight: 700);

	text-transform: uppercase;
}

p {
	@include font($size: 2rem, $height: 4rem, $spacing: 0px);

	text-align: center;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
	margin: 0px;
}