.icon {
	display: inline-block;

	width: 28px;
	height: 28px;

	&_profile {
		background-image: url("../img/header/icon_profile.svg");
	}

	// &_authorizated {
	// 	background-image: url("../img/header/icon_profile_authorizated.svg");
	// }
}