.section-title {
	text-align: center;
}

.section-line {
	margin-top: 40px;
	margin-bottom: 20px;

	width: 50px;
	size: 1px;

	color: $color-header-footer-background;
}

.section-description {
	text-align: center;
}